In [1]:
import pandas as pd
import numpy as np
import os
import glob
import datetime

In [2]:
def remove_decimals(df, column_name):
    """
    Removes Decimal points from columns in data frames.
    """
    try:
        df[column_name] = df[column_name].astype(str)
        m = df[column_name].str.contains('\d+')
        df.loc[m, column_name] = df.loc[m, column_name].apply(lambda x: x.split('.')[0])
        df.loc[m, column_name] = df.loc[m, column_name].astype('int64')
    except ValueError:
        pass

In [3]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 100)
pd.set_option('display.min_rows', 100)
pd.set_option('display.expand_frame_repr', True)

In [4]:
df_fi = pd.read_excel(r'C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\FI_DATA 1.xlsx', dtype={'XBLNR':str, 'BUKRS': str,'BELNR':str,'Document_type':str,'Company code':str,"store_or_dc":str,'ZBD1T':'Int64','suppl_no':str,'LIFNR':str,'REDAT':str,'GEBRF':str,'GSMWB':str,'WEARS': str,'GSMWF':str,'WENUM':str,'RGDAT':str,'ABGST':str,'VORGN':str,'GJAHR':str,'DEBNOTNO':str,'BUZEI': str})

In [9]:
df_ic_mmsic = pd.read_excel(r'C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\MMSIC_IC.xlsx',dtype={'RENR': str, 'BELNR':str,'AUFNR':str,'WEDAT':str,'ZBD1T':'Int64','LIFNR':str,'REDAT':str,'GEBRF':str,'GSMWB':str,'WEARS': str,'GSMWF':str,'WENUM':str,'RGDAT':str,'ABGST':str,'VORGN':str,'GJAHR':str,'VORGN':str})

df_ic_sis =  pd.read_excel(r'C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\SIS_IC.xlsx',dtype={'RENR': str, 'BELNR':str,'AUFNR':str,'WEDAT':str,'ZBD1T':'Int64','LIFNR':str,'REDAT':str,'GEBRF':str,'GSMWB':str,'WEARS': str,'GSMWF':str,'WENUM':str,'RGDAT':str,'ABGST':str,'VORGN':str,'GJAHR':str,'VORGN':str})

df_ic = pd.concat([df_ic_mmsic,df_ic_sis], axis = 0, ignore_index = True )

In [26]:
df_ic

,LIFNR,BELNR,RENR,REDAT,LFSNR,GEBRF,GSMWB,GSMWF,WAERS,WENUM,RGDAT,ABGST,AUFNR,VORGN,GJAHR,WEDAT,DEBNOTNO
0,20870,810160734,A062024000000046,20240203,13622860,480.63,0,4.76,TRY,34137,20240205,253,403000042,20240000052221,2024,20240203,NaN
1,20870,810160569,A062024000000049,20240205,5222024000000276,4871.55,0,48.23,TRY,36156,20240205,253,403200143,20240000052096,2024,20240205,NaN
2,20870,810160735,A062024000000047,20240203,13625870,553.19,0,5.48,TRY,34134,20240205,258,403200061,20240000052222,2024,20240203,NaN
3,20870,NaN,A642024000000148,20240202,6702024000000398,2050.76,0,20.3,TRY,33149,20240205,54,999999999999,20240000049668,2024,NaN,NaN
4,20870,NaN,A642024000000149,20240202,6702024000000399,9990.11,0,98.91,TRY,33148,20240205,54,403000126,20240000049669,2024,NaN,NaN
5,20870,810158452,A642024000000150,20240202,6702024000000401,4397.88,0,43.54,TRY,33147,20240205,258,403200179,20240000049670,2024,NaN,NaN
6,20870,810160734,A062024000000046,20240203,13622860,480.63,0,4.76,TRY,34137,20240205,253,403000042,20240000052221,2024,20240203,NaN
7,20870,810160569,A062024000000049,20240205,5222024000000276,4871.55,0,48.23,TRY,36156,20240205,253,403200143,20240000052096,2024,20240205,NaN
8,20870,810160735,A062024000000047,20240203,13625870,553.19,0,5.48,TRY,34134,20240205,258,403200061,20240000052222,2024,20240203,NaN
9,20870,NaN,A072024000000018,20240202,5302024000000311,1468.3,0,14.54,TRY,33104,20240207,54,999999999999,20240000053971,2024,20240202,NaN
10,20870,NaN,A252024000000130,20240202,2024000000430,5122.46,0,50.72,TRY,33116,20240207,54,999999999999,20240000053813,2024,20240202,NaN
11,20870,NaN,A252024000000131,20240202,2024000000431,10913.47,0,108.05,TRY,33113,20240207,54,403000183,20240000053814,2024,20240202,NaN
12,20870,NaN,A252024000000132,20240202,2024000000432,1171.7,0,11.6,TRY,33115,20240207,54,403000183,20240000053815,2024,20240202,NaN
13,20870,NaN,A582024000000022,20240203,6202024000000321,4038,0,39.98,TRY,34226,20240207,54,403000124,20240000053306,2024,20240203,NaN
14,20870,NaN,A262024000000371,20240205,6002024000004412,4509.08,0,44.64,TRY,36130,20240207,54,999999999999,20240000053218,2024,20240205,NaN
15,20870,NaN,A072024000000015,20240201,5312024000000292,842.92,0,8.35,TRY,32120,20240207,54,999999999999,20240000053972,2024,20240201,NaN
16,20870,NaN,A072024000000016,20240201,5312024000000297,3292.31,0,32.6,TRY,32104,20240207,54,403000121,20240000053973,2024,20240201,NaN
17,20870,NaN,A082024000000533,20240201,5302024000002305,10683.43,0,105.78,TRY,32178,20240207,54,999999999999,20240000053561,2024,20240201,NaN
18,20870,NaN,A082024000000534,20240201,5302024000002310,3485.78,0,34.51,TRY,32174,20240207,54,403000149,20240000053562,2024,20240201,NaN
19,20870,NaN,A082024000000535,20240201,5302024000002336,2630.55,0,26.05,TRY,32197,20240207,54,403000158,20240000053178,2024,20240201,NaN
20,20870,NaN,A202024000000099,20240201,5742024000000705,9147.76,0,90.57,TRY,32190,20240207,54,403000163,20240000053505,2024,20240201,NaN
21,20870,810161159,A532024000000812,20240202,6102024000003313,12190.74,0,120.7,TRY,33168,20240207,253,403200203,20240000053088,2024,20240202,NaN
22,20870,810161269,A082024000000542,20240202,530202400002402,3758.29,0,37.21,TRY,33185,20240207,253,403200136,20240000053177,2024,20240202,NaN
23,20870,810161316,A262024000000373,20240205,6002024000004413,7377.02,0,73.04,TRY,36107,20240207,253,403200184,20240000053219,2024,20240205,NaN
24,20870,810161409,A132024000000286,20240202,2249,1502.15,0,14.87,TRY,33144,20240207,258,403200107,20240000053275,2024,20240202,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28123,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240809,NaN
28124,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240318,NaN
28125,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240415,NaN
28126,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240711,NaN
28127,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240725,NaN
28128,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240615,NaN
28129,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240923,NaN
28130,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240509,NaN
28131,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240917,NaN
28132,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240510,NaN
28133,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240530,NaN
28134,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240701,NaN
28135,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20241005,NaN
28136,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240919,NaN
28137,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20230228,NaN
28138,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240801,NaN
28139,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240804,NaN
28140,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240722,NaN
28141,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240718,NaN
28142,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20241003,NaN
28143,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240622,NaN
28144,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240301,NaN
28145,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240403,NaN
28146,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240429,NaN
28147,1000010074,NaN,AIE2024000004407,20241003,GAD2024000027986,56796.48,0,9466.08,TRY,0,20241010,1,110295751,NaN,2024,20240819,NaN

In [34]:
sftp_df = pd.read_csv(r'C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\miag.35.304356.20240930.671.csv',dtype = {"Store":str,"Supplier number (MIAG)":str,"Remittance advice number":str,"Supplier number (Sales Line)":str,"Document number":str, "Invoice number":str})

In [16]:
df_fi = df_fi[df_fi['Document_type'] != 'PM']

In [17]:
df_fi['XBLNR'] = df_fi['XBLNR'].astype(str).apply(lambda x: x.zfill(10) if x.isnumeric() else x)

In [18]:
df_fi.shape

(9778, 35)

In [19]:
df_ic.shape

(28148, 17)

In [20]:
sftp_df.shape

(672, 18)

In [21]:
doc_to_type_ic = dict(zip(df_ic['BELNR'], df_ic['RENR']))

    # Fill missing values in FI_df['XBLNR'] using the mapping and FI_df['BELNR']
df_fi['XBLNR'] = df_fi['XBLNR'].fillna(df_fi['BELNR'].map(doc_to_type_ic))

In [22]:
doc_to_type_fi = dict(zip(df_fi['XBLNR'], df_fi['BELNR']))

df_ic['BELNR'] = df_ic['BELNR'].str.strip().replace('', np.nan)
    # Fill missing values in CI_df['BELNR'] using the mapping and CI_df['RENR']
df_ic['BELNR'] = df_ic['BELNR'].fillna(df_ic['RENR'].map(doc_to_type_fi))

In [23]:
grouped_fi = df_fi.groupby(['BELNR', 'suppl_no'], as_index=False)

# Step 2: Populate values for ZFBDT, ZBD1T, ZBD2T
def populate_values(group):
    group['ZFBDT'] = group['ZFBDT'].fillna(method='ffill').fillna(method='bfill')
    group['ZBD1T'] = group['ZBD1T'].fillna(method='ffill').fillna(method='bfill')
    group['ZBD2T'] = group['ZBD2T'].fillna(method='ffill').fillna(method='bfill')
    return group

df_fi_filled = grouped_fi.apply(populate_values)

# Reset index to avoid ambiguity
df_fi_filled.reset_index(drop=True, inplace=True)

# Step 3: Find the record with the highest absolute TDC, then lowest BUZEI in case of ties
def select_record(group):
    max_abs_tdc = group['Amount_in_local_currency'].abs().max()
    filtered = group[group['Amount_in_local_currency'].abs() == max_abs_tdc]
    return filtered.loc[filtered['BUZEI'].idxmin()]

df_fi = df_fi_filled.groupby(['BELNR', 'suppl_no'], as_index=False).apply(select_record).reset_index(drop=True)

C:\Users\sappidi.reddy\AppData\Local\Temp\1\ipykernel_8332\4053083448.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['ZFBDT'] = group['ZFBDT'].fillna(method='ffill').fillna(method='bfill')
C:\Users\sappidi.reddy\AppData\Local\Temp\1\ipykernel_8332\4053083448.py:6: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['ZBD1T'] = group['ZBD1T'].fillna(method='ffill').fillna(method='bfill')
C:\Users\sappidi.reddy\AppData\Local\Temp\1\ipykernel_8332\4053083448.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  group['ZBD2T'] = group['ZBD2T'].fillna(method='ffill').fillna(method='bfill')
C:\Users\sappidi.reddy\AppData\Local\Temp\1\ipykernel_8332\4053083448.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_fi_filled = grouped_fi.apply(populate_values)
C:\Users\sappidi.reddy\AppData\Local\Temp\1\ipykernel_8332\4053083448.py:21: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_fi = df_fi_filled.groupby(['BELNR', 'suppl_no'], as_index=False).apply(select_record).reset_index(drop=True)

In [24]:
df_fi.shape

(2795, 35)

In [25]:
# def select_record(group):
#     # Calculate unique TDC values based on absolute values
#     unique_tdc = group['Amount_in_local_currency'].abs().nunique()
    
#     if unique_tdc > 1:  # If TDC values are different based on absolute values
#         max_abs_tdc = group['Amount_in_local_currency'].abs().max()
#         candidates = group[group['Amount_in_local_currency'].abs() == max_abs_tdc]
        
#         zfbdt_candidates = candidates[candidates['ZFBDT'].notna()]
#         if len(zfbdt_candidates) == 1:  # If ZFBDT is present in only one record
#             return zfbdt_candidates.iloc[0]
#         elif len(zfbdt_candidates) == len(candidates):  # If ZFBDT is present in all records
#             return candidates.loc[candidates['BUZEI'].idxmin()]  # Choose the one with lowest BUZEI
#         elif len(zfbdt_candidates) == 0:  # If ZFBDT is absent in all records
#             return candidates.loc[candidates['BUZEI'].idxmin()]  # Choose the one with lowest BUZEI
#         else:  # If ZFBDT is present in some but not all
#             return zfbdt_candidates.loc[zfbdt_candidates['BUZEI'].idxmin()]  # Choose min BUZEI from zfbdt_candidates
    
#     else:  # If TDC values are the same (or only one unique absolute value)
#         zfbdt_rows = group[group['ZFBDT'].notna()]
        
#         if len(zfbdt_rows) == 1:  # If ZFBDT is present in a single row
#             return zfbdt_rows.iloc[0]
#         elif len(zfbdt_rows) > 1:  # If ZFBDT is present in multiple rows
#             return zfbdt_rows.loc[zfbdt_rows['BUZEI'].idxmin()]
#         else:  # If ZFBDT is absent in all rows
#             return group.loc[group['BUZEI'].idxmin()]  # Select row with least BUZEI

# df_fi = df_fi.groupby(['BELNR', 'suppl_no']).apply(select_record).reset_index(drop=True)

In [26]:
    # positive_l6_rows = df_fi[(df_fi['Document_type'] == 'L6') & (
    #     (df_fi['Amount_in_document_currency'] >= 0))].index

    # # Remove the selected rows
    # df_fi.drop(positive_l6_rows, inplace=True)

    # # Doc_type l6 sum groupes with doc number
    # l6_sum = df_fi[df_fi['Document_type'] == 'L6'].groupby(
    #     ['BELNR', 'suppl_no'])['Amount_in_document_currency'].sum().reset_index()
    # # zipped
    # belnr_to_sum = dict(
    #     zip(list(zip(l6_sum['BELNR'], l6_sum['suppl_no'])), l6_sum['Amount_in_document_currency']))
    # # giving all the l6 doc types their summed values
    # df_fi['Amount_in_document_currency'] = df_fi.apply(lambda row: belnr_to_sum.get(
    #     (row['BELNR'], row['suppl_no']), row['Amount_in_document_currency']), axis=1)

    # # keeping the second row of l6 doc type for each doc number
    # l6_df_fi = df_fi[df_fi['Document_type'] == 'L6'].groupby(
    #     ['BELNR', 'suppl_no']).nth(0)

In [27]:
# non_l6_df_fi = df_fi[(df_fi['Document_type'] != 'L6')]
def get_max_populated_row(group):
    # Count non-null values for each row
    non_null_counts = group.notnull().sum(axis=1)
    # Get the index of the row with the maximum count
    max_index = non_null_counts.idxmax()
    return group.loc[max_index]
# non_l6_df_fi = non_l6_df_fi.groupby('BELNR').apply(get_max_populated_row).reset_index(drop=True)

In [28]:
# df_fi = pd.concat([l6_df_fi,non_l6_df_fi],axis = 0, ignore_index = True)

In [29]:
df_ic = df_ic.groupby('RENR').apply(get_max_populated_row).reset_index(drop=True)

C:\Users\sappidi.reddy\AppData\Local\Temp\1\ipykernel_8332\4076789276.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_ic = df_ic.groupby('RENR').apply(get_max_populated_row).reset_index(drop=True)

In [30]:
df_ic.shape

(666, 17)

In [31]:
df_fi.shape

(2795, 35)

In [32]:
sftp_df.shape

(672, 18)

standardise the SFTP data

In [33]:
    '''sftp_df['Supplier number (Sales Line)'] = sftp_df['Supplier number (Sales Line)'].astype(
        str)
    sftp_df["Supplier number (Sales Line)"] = sftp_df[
        "Supplier number (Sales Line)"
    ].str.replace("^10000", "", regex=True)
    sftp_df['Supplier number (Sales Line)'] = sftp_df['Supplier number (Sales Line)'].astype('int64')'''

'sftp_df[\'Supplier number (Sales Line)\'] = sftp_df[\'Supplier number (Sales Line)\'].astype(\n    str)\nsftp_df["Supplier number (Sales Line)"] = sftp_df[\n    "Supplier number (Sales Line)"\n].str.replace("^10000", "", regex=True)\nsftp_df[\'Supplier number (Sales Line)\'] = sftp_df[\'Supplier number (Sales Line)\'].astype(\'int64\')'

check the lengths and dtypes

In [34]:
'''measurer = np.vectorize(len)
res1 = measurer(df_fi.values.astype(str)).max(axis=0)
res1 = dict(zip(df_fi, measurer(df_fi.values.astype(str)).max(axis=0)))
print(res1)
print(df_fi.dtypes)'''

'measurer = np.vectorize(len)\nres1 = measurer(df_fi.values.astype(str)).max(axis=0)\nres1 = dict(zip(df_fi, measurer(df_fi.values.astype(str)).max(axis=0)))\nprint(res1)\nprint(df_fi.dtypes)'

In [35]:
'''measurer = np.vectorize(len)
res2 = measurer(df_ic.values.astype(str)).max(axis=0)
res2 = dict(zip(df_ic, measurer(df_ic.values.astype(str)).max(axis=0)))
print(res2)
print(df_ic.dtypes)'''

'measurer = np.vectorize(len)\nres2 = measurer(df_ic.values.astype(str)).max(axis=0)\nres2 = dict(zip(df_ic, measurer(df_ic.values.astype(str)).max(axis=0)))\nprint(res2)\nprint(df_ic.dtypes)'

In [36]:
'''measurer = np.vectorize(len)
res3 = measurer(df_sftp.values.astype(str)).max(axis=0)
print(res3)
print(df_sftp.dtypes)'''

'measurer = np.vectorize(len)\nres3 = measurer(df_sftp.values.astype(str)).max(axis=0)\nprint(res3)\nprint(df_sftp.dtypes)'

standarized the data

In [37]:
#preprocess ic/FI/sftp document numbers. make the length 10 or above

df_ic['LIFNR'] = df_ic['LIFNR'].apply(
    lambda x: '10000' + str(x) if not pd.isna(x) and len(str(x)) < 10 else str(x) if not pd.isna(x) else '0' * 10
)

df_fi['suppl_no'] = df_fi['suppl_no'].apply(
    lambda x: '10000' + str(x) if not pd.isna(x) and len(str(x)) < 10 else str(x) if not pd.isna(x) else '0' * 10
)

df_ic['BELNR'] = df_ic['BELNR'].apply(
     lambda x: '0' * (10 - len(str(x))) + str(x) if not pd.isna(x) else '0' * 10)

df_fi['BELNR'] = df_fi['BELNR'].apply(
     lambda x: '0' * (10 - len(str(x))) + str(x) if not pd.isna(x) else '0' * 10)

sftp_df['Document number'] = sftp_df['Document number'].apply(
     lambda x: '0' * (10 - len(str(x))) + str(x) if not pd.isna(x) else '0' * 10)

In [38]:
def transform_number(num):
    if pd.isna(num):  # Check for NaN values
        return np.nan   # Return NaN if the input is NaN
    num_str = str(num)  # Convert to string

    # If the number already starts with '10000', return it as is
    if num_str.startswith('10000'):
        return num_str
    
    stripped_num = num_str.lstrip('0')  # Remove leading zeros
    final_num = stripped_num.zfill(6)  # Ensure it has at least 6 digits
    return '1000' + final_num  # Prepend '10000'

# Apply the function to the relevant column

df_ic['LIFNR'] = df_ic['LIFNR'].apply(transform_number)

In [61]:
#PREPROCESS DATE TIME. make all %d.%m.%Y

for col in df_ic.select_dtypes(include=['datetime64[ns]', 'datetime']):
    df_ic[col] = df_ic[col].dt.strftime('%d.%m.%Y')

for col in df_fi.select_dtypes(include=['datetime64[ns]', 'datetime']):
    df_fi[col] = df_fi[col].dt.strftime('%d.%m.%Y')

In [62]:
df_fi['BLDAT']

0        29.02.2024
1        29.02.2024
2        31.03.2024
3        31.03.2024
4        31.03.2024
5        31.03.2024
6        31.03.2024
7        31.03.2024
8        31.03.2024
9        31.03.2024
10       31.03.2024
11       31.03.2024
12       31.03.2024
13       31.03.2024
14       31.03.2024
15       31.03.2024
16       31.03.2024
17       31.03.2024
18       31.03.2024
19       31.03.2024
20       31.03.2024
21       31.03.2024
22       31.03.2024
23       31.03.2024
24       31.03.2024
25       31.03.2024
26       31.03.2024
27       31.03.2024
28       31.03.2024
29       31.03.2024
30       31.03.2024
31       31.03.2024
32       31.03.2024
33       31.03.2024
34       31.03.2024
35       30.04.2024
36       31.05.2024
37       30.06.2024
38       31.07.2024
39       31.08.2024
40       31.08.2024
41       30.09.2024
42       14.10.2024
43       09.02.2024
44       08.03.2024
45       16.04.2024
46       13.05.2024
47       12.06.2024
48       12.07.2024
49       08.08.2024
            ...
10360    31.08.2024
10361    31.08.2024
10362    31.08.2024
10363    31.08.2024
10364    31.08.2024
10365    31.08.2024
10366    31.08.2024
10367    31.08.2024
10368    31.08.2024
10369    31.08.2024
10370    31.08.2024
10371    30.09.2024
10372    30.09.2024
10373    30.09.2024
10374    30.09.2024
10375    30.09.2024
10376    30.09.2024
10377    30.09.2024
10378    30.09.2024
10379    30.09.2024
10380    30.09.2024
10381    30.09.2024
10382    30.09.2024
10383    30.09.2024
10384    30.09.2024
10385    30.09.2024
10386    30.09.2024
10387    30.09.2024
10388    30.09.2024
10389    30.09.2024
10390    30.09.2024
10391    30.09.2024
10392    30.09.2024
10393    30.09.2024
10394    30.09.2024
10395    30.09.2024
10396    30.09.2024
10397    30.09.2024
10398    30.09.2024
10399    30.09.2024
10400    30.09.2024
10401    30.09.2024
10402    30.09.2024
10403    30.09.2024
10404    30.09.2024
10405    30.09.2024
10406    30.09.2024
10407    30.09.2024
10408    30.09.2024
10409    30.09.2024
Name: BLDAT, Length: 10410, dtype: object

In [40]:
#convert string types into %d.%m.%Y. IC frame
for col in df_ic.select_dtypes(include=['object']):
    try:
        # Convert to datetime, assuming the format is 'YYYYMMDD'
        df_ic[col] = pd.to_datetime(df_ic[col], format='%Y%m%d')
        # Optionally, you can convert it to DMY format
        df_ic[col] = df_ic[col].dt.strftime('%d.%m.%Y')
    except ValueError:
        # If conversion fails, just continue
        pass

In [41]:
#convert string types into %d.%m.%Y. IC frame
for col in df_fi.select_dtypes(include=['object']):
    try:
        # Convert to datetime, assuming the format is 'YYYYMMDD'
        df_fi[col] = pd.to_datetime(df_fi[col], format='%Y%m%d')
        # Optionally, you can convert it to DMY format
        df_fi[col] = df_fi[col].dt.strftime('%d.%m.%Y')
    except ValueError:
        # If conversion fails, just continue
        pass

In [42]:
df_ic.to_csv(r"C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\ic_data_cleaned.csv", index=False)

In [43]:
df_fi.to_csv(r"C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\fi_data_cleaned.csv", index=False)

In [44]:
df_fi['Amount_in_local_currency'] = df_fi['Amount_in_local_currency'] * -1

In [45]:
#merge FI and IC

merge_fi_ic = df_fi.merge(df_ic, left_on=[ "BELNR","XBLNR"], right_on=[
         "BELNR","RENR"], how="outer")

In [46]:
merge_fi_ic[['XBLNR', 'RENR']]

                 XBLNR              RENR
0                  NaN  A082024000000533
1                  NaN  A082024000000534
2                  NaN  AIA2024000001497
3                  NaN  AIA2024000001534
4                  NaN  AIA2024000001535
5                  NaN  AIB2024000007238
6                  NaN  AIB2024000007239
7                  NaN  AIB2024000014141
8                  NaN  AIB2024000014143
9                  NaN  AIB2024000014180
10                 NaN  AIE2024000004406
11         DN NO 20492               NaN
12      DN NO 13967913               NaN
13         DN NO 20632               NaN
14    A382024000000135               NaN
15    DN NO 5102024000               NaN
16      DN NO 13893188               NaN
17    A582024000000166               NaN
18    DN NO 5702024000               NaN
19    DN NO 6102024000               NaN
20    DN NO 6102024000               NaN
21    DN NO 6102024000               NaN
22      DN NO 26299-98               NaN
23    AID2024000006573               NaN
24         DN NO 27349               NaN
25    DN NO 6002024000               NaN
26    DN NO 6002024000               NaN
27      DN NO 45350020               NaN
28    DN NO 6302024000               NaN
29    DN NO 6302024000               NaN
30        DN NO ERS447               NaN
31        DN NO ERM150               NaN
32    DN NO 6002024000               NaN
33    DN NO 5402024000               NaN
34    DN NO 1602024000               NaN
35    DN NO 2024000002               NaN
36    DN NO 2024000003               NaN
37    DN NO 6102024000               NaN
38    A142024000000586               NaN
39    DN NO 5502024000               NaN
40    DN NO 5502024000               NaN
41    DN NO 5502024000               NaN
42      DN NO 13986584               NaN
43      DN NO 13984744               NaN
44      DN NO 13981814               NaN
45      DN NO 13997005               NaN
46      DN NO 13990341               NaN
47      DN NO 13970170               NaN
48      DN NO 13967067               NaN
49         DN NO 20492               NaN
...                ...               ...
2761           A937763               NaN
2762           A938030               NaN
2763           A938817               NaN
2764           A938816               NaN
2765           A939861               NaN
2766           A939862               NaN
2767           A939320               NaN
2768           A939321               NaN
2769           A939322               NaN
2770           A939859               NaN
2771           A939860               NaN
2772           A940063               NaN
2773           A940935               NaN
2774           A940934               NaN
2775           A941080               NaN
2776           A942103               NaN
2777           A942104               NaN
2778           A941592               NaN
2779           A941593               NaN
2780           A941594               NaN
2781           A942101               NaN
2782           A942102               NaN
2783           A942302               NaN
2784           A943109               NaN
2785           A943001               NaN
2786           A943108               NaN
2787           A943000               NaN
2788           A944197               NaN
2789           A944198               NaN
2790           A943566               NaN
2791           A943567               NaN
2792           A943568               NaN
2793           A944194               NaN
2794           A944195               NaN
2795           A944196               NaN
2796           A944410               NaN
2797           A944411               NaN
2798           A945145               NaN
2799           A945144               NaN
2800           A947118               NaN
2801           A947119               NaN
2802           A946095               NaN
2803           A946096               NaN
2804           A946097               NaN
2805           A947116               NaN
2806           A947117               NaN
2807           A947655               NaN
2808           A948805               NaN
2809           A948804               NaN
2810               nan               NaN

[2811 rows x 2 columns]

In [47]:
'''print(merge_fi_ic.shape)
print(merge_fi_ic.columns)
print(merge_fi_ic.dtypes)'''

'print(merge_fi_ic.shape)\nprint(merge_fi_ic.columns)\nprint(merge_fi_ic.dtypes)'

In [48]:
merge_fi_ic.to_csv(r"C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\merge1_check.csv", index=False)

In [49]:
print(merge_fi_ic.shape)

(2811, 51)

In [50]:
#check lengths and dtyes of merged frame
measurer = np.vectorize(len)
res = measurer(merge_fi_ic.values.astype(str)).max(axis=0)
res = dict(zip(merge_fi_ic, measurer(merge_fi_ic.values.astype(str)).max(axis=0)))
print(res)

{'MANDT': np.int64(5), 'Document_type': np.int64(3), 'document_type_desc': np.int64(20), 'GJAHR_x': np.int64(4), 'BUKRS': np.int64(4), 'GSBER': np.int64(3), 'PRCTR': np.int64(10), 'store_or_dc': np.int64(4), 'KOSTL': np.int64(12), 'month_in_fin_year': np.int64(4), 'BELNR': np.int64(10), 'XBLNR': np.int64(16), 'AUGBL': np.int64(12), 'AUGDT': np.int64(10), 'ZFBDT': np.int64(10), 'ZBD1T': np.int64(4), 'ZBD2T': np.int64(3), 'NETDT': np.int64(3), 'BUZEI': np.int64(3), 'altkt': np.int64(12), 'hkont': np.int64(12), 'suppl_no': np.int64(10), 'BLDAT': np.int64(10), 'BUDAT': np.int64(10), 'CPUDT': np.int64(10), 'partition_date': np.int64(10), 'dana_ingestion_date': np.int64(10), 'shkzg': np.int64(3), 'Amount_in_local_currency': np.int64(10), 'Amount_in_document_currency': np.int64(11), 'Tax_in_local_currency': np.int64(3), 'Tax_in_document_currency': np.int64(3), 'WAERS_x': np.int64(3), 'Batch_Input_session_name': np.int64(12), 'sgtxt': np.int64(36), 'LIFNR': np.int64(10), 'RENR': np.int64(16), 'REDAT': np.int64(10), 'LFSNR': np.int64(16), 'GEBRF': np.int64(10), 'GSMWB': np.int64(3), 'GSMWF': np.int64(9), 'WAERS_y': np.int64(3), 'WENUM': np.int64(8), 'RGDAT': np.int64(10), 'ABGST': np.int64(4), 'AUFNR': np.int64(12), 'VORGN': np.int64(14), 'GJAHR_y': np.int64(4), 'WEDAT': np.int64(10), 'DEBNOTNO': np.int64(10)}

In [51]:
#merge_fi_ic['BELNR'] = merge_fi_ic['BELNR'].apply(
#        lambda x: '0' * (10 - len(str(x))) + str(x) if not pd.isna(x) else '0' * 10)

In [52]:
### sftp with merged, ic and fi data
merged_df = merge_fi_ic.merge(
        sftp_df, left_on=["BELNR", "XBLNR"],
        right_on=["Document number", "Invoice number"],
        how="outer")

In [54]:
merged_df[['BLDAT', 'RGDAT']]

           BLDAT       RGDAT
0            NaN  07.02.2024
1            NaN  07.02.2024
2            NaN  06.06.2024
3            NaN  06.06.2024
4            NaN  06.06.2024
5            NaN  29.03.2024
6            NaN  29.03.2024
7            NaN  24.08.2024
8            NaN  24.08.2024
9            NaN  24.08.2024
10           NaN  10.10.2024
11    25.09.2024         NaN
12    04.09.2024         NaN
13    27.09.2024         NaN
14    19.09.2024         NaN
15    02.08.2024         NaN
16    20.07.2024         NaN
17    20.09.2024         NaN
18    27.09.2024         NaN
19    31.08.2024         NaN
20    25.09.2024         NaN
21    27.09.2024         NaN
22    16.09.2024         NaN
23    20.09.2024         NaN
24    24.09.2024         NaN
25    30.09.2024         NaN
26    30.09.2024         NaN
27    30.09.2024         NaN
28    23.09.2024         NaN
29    23.09.2024         NaN
30    19.09.2024         NaN
31    30.09.2024         NaN
32    16.09.2024         NaN
33    28.09.2024         NaN
34    28.09.2024         NaN
35    06.08.2024         NaN
36    27.09.2024         NaN
37    27.09.2024         NaN
38    23.09.2024         NaN
39    28.08.2024         NaN
40    09.09.2024         NaN
41    25.09.2024         NaN
42    19.09.2024         NaN
43    19.09.2024         NaN
44    19.09.2024         NaN
45    26.09.2024         NaN
46    26.09.2024         NaN
47    14.09.2024         NaN
48    14.09.2024         NaN
49    25.09.2024         NaN
...          ...         ...
2820         NaN         NaN
2821  31.07.2024         NaN
2822         NaN         NaN
2823  31.07.2024         NaN
2824         NaN         NaN
2825  31.07.2024         NaN
2826         NaN         NaN
2827  31.07.2024         NaN
2828         NaN         NaN
2829  31.07.2024         NaN
2830         NaN         NaN
2831  15.08.2024         NaN
2832         NaN         NaN
2833  15.08.2024         NaN
2834  15.08.2024         NaN
2835         NaN         NaN
2836  15.08.2024         NaN
2837  31.08.2024         NaN
2838         NaN         NaN
2839  31.08.2024         NaN
2840         NaN         NaN
2841  31.08.2024         NaN
2842         NaN         NaN
2843  31.08.2024         NaN
2844         NaN         NaN
2845  31.08.2024         NaN
2846         NaN         NaN
2847  31.08.2024         NaN
2848         NaN         NaN
2849  31.08.2024         NaN
2850         NaN         NaN
2851  31.08.2024         NaN
2852         NaN         NaN
2853  31.08.2024         NaN
2854         NaN         NaN
2855  31.08.2024         NaN
2856         NaN         NaN
2857  16.09.2024         NaN
2858  16.09.2024         NaN
2859  30.09.2024         NaN
2860  30.09.2024         NaN
2861  30.09.2024         NaN
2862  30.09.2024         NaN
2863  30.09.2024         NaN
2864  30.09.2024         NaN
2865  30.09.2024         NaN
2866  30.09.2024         NaN
2867  30.09.2024         NaN
2868  30.09.2024         NaN
2869  18.04.2024         NaN

[2870 rows x 2 columns]

In [56]:
df_fi['BLDAT']

0       01.10.2024
1       01.10.2024
2       01.10.2024
3       01.10.2024
4       01.10.2024
5       01.10.2024
6       01.10.2024
7       01.10.2024
8       01.10.2024
9       01.10.2024
10      01.10.2024
11      01.10.2024
12      01.10.2024
13      01.10.2024
14      01.10.2024
15      01.10.2024
16      01.10.2024
17      01.10.2024
18      01.10.2024
19      01.10.2024
20      01.10.2024
21      01.10.2024
22      01.10.2024
23      01.10.2024
24      01.10.2024
25      01.10.2024
26      01.10.2024
27      01.10.2024
28      01.10.2024
29      01.10.2024
30      01.10.2024
31      01.10.2024
32      01.10.2024
33      01.10.2024
34      01.10.2024
35      01.10.2024
36      01.10.2024
37      01.10.2024
38      01.10.2024
39      01.10.2024
40      01.10.2024
41      01.10.2024
42      01.10.2024
43      01.10.2024
44      01.10.2024
45      01.10.2024
46      01.10.2024
47      01.10.2024
48      01.10.2024
49      01.10.2024
           ...
2745    19.08.2024
2746    19.08.2024
2747    16.08.2024
2748    19.08.2024
2749    19.08.2024
2750    20.08.2024
2751    22.08.2024
2752    22.08.2024
2753    23.08.2024
2754    24.08.2024
2755    26.08.2024
2756    26.08.2024
2757    26.08.2024
2758    29.08.2024
2759    02.09.2024
2760    02.09.2024
2761    02.09.2024
2762    02.09.2024
2763    02.09.2024
2764    05.09.2024
2765    09.09.2024
2766    09.09.2024
2767    10.09.2024
2768    09.09.2024
2769    10.09.2024
2770    10.09.2024
2771    10.09.2024
2772    11.09.2024
2773    13.09.2024
2774    14.09.2024
2775    15.09.2024
2776    16.09.2024
2777    16.09.2024
2778    17.09.2024
2779    17.09.2024
2780    18.09.2024
2781    23.09.2024
2782    23.09.2024
2783    23.09.2024
2784    23.09.2024
2785    23.09.2024
2786    24.09.2024
2787    26.09.2024
2788    26.09.2024
2789    25.09.2024
2790    28.09.2024
2791    28.09.2024
2792    28.09.2024
2793    27.09.2024
2794    30.09.2024
Name: BLDAT, Length: 2795, dtype: object

In [53]:
merged_df.to_csv(r"C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\merge2_check_sftp.csv", index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\sappidi.reddy\\Downloads\\Sample MIAG 2\\merge2_check_sftp.csv'

In [ ]:
merged_df.shape

In [ ]:
# Split the ARKTX column by '#'
split_columns = merged_df['ARKTX'].str.split('#', expand=True)

# Extract Business Year and Line Item No., ensuring they stay as integers if ARKTX is not blank
merged_df['Business Year SFTP'] = split_columns[3].apply(lambda x: int(x) if pd.notnull(x) and x.isdigit() else pd.NA).astype('Int64')
merged_df['Line Item No. SFTP'] = split_columns[4].apply(lambda x: int(x) if pd.notnull(x) and x.isdigit() else pd.NA).astype('Int64')

In [ ]:
merged_df[['ARKTX','Business Year SFTP','Line Item No. SFTP']]

In [ ]:
merged_df.shape

In [ ]:
merged_df['Doc no. combined'] = merged_df['BELNR'].fillna(merged_df['Document number'])

In [ ]:
merged_df.shape

In [ ]:
merged_df.columns

populate ARKTX

In [ ]:
# Assuming merged_df is your DataFrame
merged_df["year"] = merged_df.BLDAT.apply(lambda x: x.split('.')[2] if isinstance(x, str) and len(x.split('.')) > 2 else None)
merged_df["month"] = merged_df.BLDAT.apply(lambda x: x.split('.')[1] if isinstance(x, str) and len(x.split('.')) > 1 else None)
merged_df["day"] = merged_df.BLDAT.apply(lambda x: x.split('.')[0] if isinstance(x, str) and len(x.split('.')) > 0 else None)

mask_empty_ARKTX = merged_df["ARKTX"].isna()

# Apply the logic only on those rows
merged_df.loc[mask_empty_ARKTX, "ARKTX"] = merged_df[mask_empty_ARKTX].apply(
    lambda row: (
        f"{row['Document_type']}#{row['BELNR']}#{row['year']}{row['month']}{row['day']}#{row['year']}#00{row['BUZEI']}"
        if all(pd.notna([row['Document_type'], row['BELNR'], row['year'], row['month'], row['day'], row['BUZEI']]))
        else np.nan
    ),
    axis=1
)

# merged_df['ARKTX'] = merged_df['ARKTX'].str.strip().replace('', np.nan)

# merged_df.loc[merged_df["ARKTX"] == 'NaN', 'ARKTX'] = merged_df["ARKTX_temp"]

net due calculations

In [55]:
merged_df['ZFBDT'] = pd.to_datetime(merged_df['ZFBDT'], format='%d.%m.%Y')

merged_df['ZBD1T'] = pd.to_numeric(merged_df['ZBD1T'], errors='coerce')
merged_df['ZBD2T'] = pd.to_numeric(merged_df['ZBD2T'], errors='coerce')

merged_df['NET_DUE_DATE'] = merged_df.apply(
    lambda row: row['ZFBDT'] + pd.Timedelta(days=row['ZBD1T'] if pd.notna(row['ZBD1T']) else (row['ZBD2T'] if pd.notna(row['ZBD2T']) else 0)),
    axis=1
)
merged_df['NET_DUE_DATE'] = merged_df['NET_DUE_DATE'].dt.strftime('%d.%m.%Y')

Invoice status assignment

In [ ]:
ic_tran_status_df = pd.read_csv(r"C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\ic_transaction_status_R.csv", encoding='windows-1252', dtype={'TRANSACTION STATUS (ABGST)': 'str', 'LBL - \nTRANSACTION STATUS (ABGST)':'str', 'VIPA \nTRANSACTION STATUS (ABGST)':'str',"360 invoice status proposal (25.4.)":'str'})
ic_tran_status_df = ic_tran_status_df[["TRANSACTION STATUS (ABGST)", "LBL - \nTRANSACTION STATUS (ABGST)", "VIPA \nTRANSACTION STATUS (ABGST)", "360 invoice status proposal (25.4.)"]]
ic_tran_status_df["ABGST"] = ic_tran_status_df["TRANSACTION STATUS (ABGST)"].fillna(ic_tran_status_df['LBL - \nTRANSACTION STATUS (ABGST)']).fillna(ic_tran_status_df["VIPA \nTRANSACTION STATUS (ABGST)"])
ic_tran_status_df = ic_tran_status_df[["ABGST", "360 invoice status proposal (25.4.)"]]
abgst_status_dict = ic_tran_status_df.set_index('ABGST')['360 invoice status proposal (25.4.)'].to_dict()
len(abgst_status_dict)

In [ ]:
# merged_df['Remittance advice number'] = merged_df['Remittance advice number'].replace(np.nan, '')

In [ ]:
# merged_df['ABGST'] = merged_df['ABGST'].replace(np.nan, '')

In [ ]:
# # Step 1: Mark 'Inv Stat' as "cleared - MIAG" where 'RAN' is present
# merged_df.loc[merged_df['Remittance advice number'].notna(), 'INVOICE_STATUS'] = "cleared - MIAG"

# # Step 2: Fill 'Inv Stat' using abgst_status_dict for empty 'Inv Stat' entries
# empty_inv_stat_mask = merged_df['INVOICE_STATUS'].isna()
# merged_df.loc[empty_inv_stat_mask, 'INVOICE_STATUS'] = merged_df.loc[empty_inv_stat_mask, 'ABGST'].map(abgst_status_dict)

# # Step 3: Select records with 'Inv Stat' = "Invoice Approval completed" or empty 'Inv Stat'
# approval_completed_mask = (merged_df['INVOICE_STATUS'] == "Invoice Approval completed") | (merged_df['INVOICE_STATUS'].isna())

# # Step 4: Update 'Inv Stat' based on 'AUGBL'
# merged_df.loc[approval_completed_mask & merged_df['AUGBL'].notna(), 'INVOICE_STATUS'] = "cleared - FI"
# merged_df.loc[approval_completed_mask & merged_df['AUGBL'].isna(), 'INVOICE_STATUS'] = "Invoice Approval completed"







# Step 1: Populate 'Inv Stat' with "cleared-MIAG" for rows where 'RAN' is present
merged_df.loc[merged_df['Remittance advice number'].notna(), 'INVOICE_STATUS'] = "cleared-MIAG"

# Step 2: Populate 'Inv Stat' with "cleared-FI" for rows where 'Inv Stat' is null and 'AUGBL' is present
merged_df.loc[merged_df['INVOICE_STATUS'].isna() & merged_df['AUGBL'].notna(), 'INVOICE_STATUS'] = "cleared-FI"

# Step 3: Populate 'Inv Stat' with "Invoice Approval completed" for rows where 'Inv Stat' is null and 'BLDAT' is present
merged_df.loc[merged_df['INVOICE_STATUS'].isna() & merged_df['BLDAT'].notna(), 'INVOICE_STATUS'] = "Invoice Approval completed"

# Step 4: Populate 'Inv Stat' based on mapping from abgst_status_dict for rows where 'Inv Stat' is null and 'ABGST' is present
merged_df.loc[merged_df['INVOICE_STATUS'].isna() & merged_df['ABGST'].notna(), 'INVOICE_STATUS'] = merged_df['ABGST'].map(abgst_status_dict)

# Step 5: Populate remaining 'Inv Stat' as "In progress" where 'Inv Stat' is still null
merged_df['INVOICE_STATUS'].fillna("In progress", inplace=True)

In [ ]:
merge_fi_ic[['XBLNR','RENR']]

In [ ]:
merged_df.shape

In [ ]:
# Separate rows with Doc no. combined having all 0's
df_all_zeros = merged_df[merged_df['Doc no. combined'] == '0000000000']

# Exclude rows with Doc no. combined having all 0's for further grouping
df_non_zero = merged_df[merged_df['Doc no. combined'] != '0000000000']

# Group by Doc no. combined
grouped = df_non_zero.groupby('Doc no. combined')

# Filter groups based on their lengths
df_group_len_2 = grouped.filter(lambda x: len(x) == 2)
df_group_len_1 = grouped.filter(lambda x: len(x) == 1)

# Now we have the three dataframes
# df_all_zeros: rows with Doc no. combined having all 0's
# df_group_len_1: groups with length 1
# df_group_len_2: groups with length 2

In [ ]:
len(df_all_zeros)

In [ ]:
len(df_group_len_1)

In [ ]:
len(df_group_len_2)

In [ ]:
df_group_len_2[['Doc no. combined','INVOICE_STATUS']]

In [ ]:
# Group by 'Doc no. combined'
grouped = df_group_len_2.groupby('Doc no. combined')

# Initialize lists to store the rows based on INVOICE_STATUS
cleared_records = []
other_records = []

# Iterate through each group
for name, group in grouped:
    # Separate rows based on 'INVOICE_STATUS' value
    cleared_record = group[group['INVOICE_STATUS'] == 'cleared-MIAG']
    other_record = group[group['INVOICE_STATUS'] != 'cleared-MIAG']
    
    # Append to the lists if the record exists
    if not cleared_record.empty:
        cleared_records.append(cleared_record.iloc[0])  # Assuming there's only one 'cleared-MIAG' record per group
    if not other_record.empty:
        other_records.append(other_record.iloc[0])      # Assuming there's only one non-'cleared-MIAG' record per group

# Convert lists to DataFrames if needed
cleared_df = pd.DataFrame(cleared_records)
other_df = pd.DataFrame(other_records)

In [ ]:
len(cleared_df)

In [ ]:
len(other_df)

In [ ]:
# Ensure correct data types in both dataframes for comparison
other_df['BUZEI'] = other_df['BUZEI'].astype('int64')
other_df['GJAHR_x'] = other_df['GJAHR_x'].astype('int64')
other_df['Document_type'] = other_df['Document_type'].astype(str)
cleared_df['Document type'] = cleared_df['Document type'].astype(str)
cleared_df['Gross amount'] = cleared_df['Gross amount'].astype(float)
other_df['Amount_in_local_currency'] = other_df['Amount_in_local_currency'].astype(float)

# List to store Doc no. combined values that fail validation
failed_doc_nos = []

# Loop through each row in cleared_df and perform validations
for index, row1 in cleared_df.iterrows():
    # Get the corresponding row in other_df based on 'Doc no. combined'
    row2 = other_df[other_df['Doc no. combined'] == row1['Doc no. combined']]

    # Proceed only if there is exactly one matching row in other_df
    if len(row2) == 1:
        row2 = row2.iloc[0]

        # Perform validation checks
        if (
            row1['Line Item No. SFTP'] == row2['BUZEI'] and
            row1['Document type'] == row2['Document_type'] and
            row1['Business Year SFTP'] == row2['GJAHR_x'] and
            row1['Gross amount'] == row2['Amount_in_local_currency']
        ):
            # Check if 'Store' column in row1 is not empty
            if pd.notnull(row1['Store']) and row1['Store'] != '':
                # Directly remove row2 from other_df
                other_df = other_df.drop(row2.name)
            else:
                # Copy 'store_or_dc' value from row2 to 'Store' column in row1
                cleared_df.at[index, 'Store'] = row2['store_or_dc']
                # Remove row2 from other_df
                other_df = other_df.drop(row2.name)
        else:
            # If validation fails, add the 'Doc no. combined' to the failed list
            failed_doc_nos.append(row1['Doc no. combined'])
    else:
        # If no match or multiple matches, add to failed list
        failed_doc_nos.append(row1['Doc no. combined'])

# Output the updated cleared_df, other_df, and the failed list
cleared_df.reset_index(drop=True, inplace=True)
other_df.reset_index(drop=True, inplace=True)

In [ ]:
len(cleared_df)

In [ ]:
len(other_df)

In [ ]:
len(failed_doc_nos)

In [ ]:
failed_doc_nos

In [ ]:
pd.set_option("display.max_columns", None)

In [ ]:
cleared_df[cleared_df['Doc no. combined']=='3360023273']

In [ ]:
other_df[other_df['Doc no. combined']=='3360023273']

In [ ]:
merged_df = pd.concat([cleared_df, other_df, df_group_len_1, df_all_zeros], ignore_index=True)

# Optionally, reset the index if you want a clean index
merged_df.reset_index(drop=True, inplace=True)

In [ ]:
len(merged_df)

In [ ]:
merged_df.shape

In [ ]:
# for index, row in merged_df.iterrows():
#     status=''
#     doc_number = row['BELNR']
#     supplier_number = row['suppl_no']
    
#     if row['Remittance advice number'] != '':
#         merged_df.at[index, 'INVOICE_STATUS'] = 'CLEARED'
#         merged_df.at[index, 'AUGDT'] = row['Value date']

#     if row['Remittance advice number'] == '':
#         if row['ABGST']!='':
#             try:
#                 status = abgst_status_dict[str(row['ABGST'])]
#             except KeyError:
#                 status = "Invoice approval completed"

#         if row['ABGST']=='':
#             status = "Invoice approval completed"
#         merged_df.at[index, 'INVOICE_STATUS'] = status

In [ ]:
# for index, row in merged_df.iterrows():
    
#         doc_number = row['BELNR']
#         supplier_number = row['suppl_no']

#         # Check if doc_number is present in sftp_df
#         if (doc_number in sftp_df['Document number'].values) and (
#                 supplier_number in sftp_df['Supplier number (Sales Line)'].values):
#             matching_row = sftp_df[(sftp_df['Document number'] == doc_number) & (
#                         sftp_df['Supplier number (Sales Line)'] == supplier_number)]
#             # Check if 'rem_number' is not empty in merged_df
#             if not matching_row['Remittance advice number'].empty and matching_row['Remittance advice number'].values[0] != '' and matching_row['Remittance advice number'].values[0] != np.nan:
#                 merged_df.at[index, 'INVOICE_STATUS'] = 'CLEARED'
#                 merged_df.at[index, 'AUGDT'] = matching_row['Value date'].iloc[0]
                
#             else:
#                 if not row['ABGST']!=np.nan and row['ABGST']!='':
#                     try:
#                         status = abgst_status_dict[str(row['ABGST'])]
#                         print("STATUS : ", status)
#                     except KeyError:
#                         status = "INVOICE APPROVAL COMPLETED"
#                 else:
#                     status = "INVOICE APPROVAL COMPLETED"
#                 merged_df.at[index, 'INVOICE_STATUS'] = status

#         # else:
#         #     status = "INVOICE APPROVAL COMPLETED"
#         #     merged_df.at[index, 'INVOICE_STATUS'] = status

# else:
#         # INVOICE APPROVAL COMPLETED
#             # Check if doc_number is present in q1-df
#             # print(supplier_number)
#             matching_row = df_ic[(df_ic['BELNR'] == str(doc_number)) & (
#                         df_ic['LIFNR'].astype('int64') == np.int64(str(supplier_number)[1:]))]

#             if len(matching_row) == 0:
#                 merged_df.at[index, 'INVOICE_STATUS'] = 'INVOICE APPROVAL COMPLETED'

#creating the final file

In [ ]:
loadfile_df = pd.DataFrame([])

In [ ]:
#when the data is present both the system and not in sftp

In [ ]:
doc_to_type = dict(zip(merged_df['Supplier number (Sales Line)'],
                           merged_df['Supplier number (MIAG)']))
doc_to_type

In [ ]:
len(doc_to_type)

# COMPANY CODE

In [ ]:
company_code = 3142
loadfile_df['COMPANY_CODE'] = company_code

In [ ]:
loadfile_df[['COMPANY_CODE']].isna().sum()

# Supplier number (Sales Line)

In [ ]:
merged_df['Supplier number (Sales Line)'].isna().sum()

In [ ]:
loadfile_df['SUPPLIER_NO'] = merged_df['Supplier number (Sales Line)'].fillna(
    merged_df['suppl_no']
).fillna(
    merged_df['LIFNR']
)

In [ ]:
loadfile_df['SUPPLIER_NO'].isna().sum()

# MIAG_SUPPLIER_NO

In [ ]:
loadfile_df['MIAG_SUPPLIER_NO'] = merged_df['Supplier number (MIAG)']

In [ ]:
loadfile_df['MIAG_SUPPLIER_NO'].isna().sum()

In [ ]:
loadfile_df['MIAG_SUPPLIER_NO'] = loadfile_df['MIAG_SUPPLIER_NO'].fillna(loadfile_df['SUPPLIER_NO'].map(doc_to_type))

In [ ]:
loadfile_df['MIAG_SUPPLIER_NO'].isna().sum()

# ORDER_NO

In [ ]:
loadfile_df['ORDER_NO'] = merged_df['AUFNR']

In [ ]:
loadfile_df['ORDER_NO'].isna().sum()

# DOC Type

In [ ]:
loadfile_df['DOC_TYPE'] = merged_df['Document type'].where(merged_df['Document type'].notna(), merged_df['Document_type'])

In [ ]:
loadfile_df['DOC_TYPE'].isna().sum()

# Invoice number

In [ ]:
loadfile_df['INVOICE_NO'] = merged_df['Invoice number'].where(merged_df['Invoice number'].notna(), merged_df['XBLNR'])

In [ ]:
loadfile_df['INVOICE_NO'].isna().sum()

In [ ]:
loadfile_df['INVOICE_NO'] = merged_df['Invoice number'].fillna(
    merged_df['XBLNR']
).fillna(
    merged_df['RENR']
)

In [ ]:
loadfile_df['INVOICE_NO'].isna().sum()

# INVOICE_DATE

In [ ]:
loadfile_df['INVOICE_DATE']	=  merged_df['Document date'].fillna(merged_df['REDAT'])

# DELIVERY_NOTE_NO

In [ ]:
loadfile_df['DELIVERY_NOTE_NO'] = merged_df['LFSNR']

# TOTAL_AMT_DC

In [ ]:
loadfile_df['TOTAL_AMT_DC'] = merged_df['Gross amount'].fillna(
    merged_df['GEBRF']
).fillna(
    merged_df['Amount_in_local_currency']
)

In [ ]:
loadfile_df['TOTAL_AMT_DC'].isna().sum()

# TOTAL_VAT_DC

In [ ]:
loadfile_df['TOTAL_VAT_DC']	= merged_df['GSMWF']

# CURRENCY

In [ ]:
company_code = 3142
loadfile_df['COMPANY_CODE'] = company_code

In [ ]:
loadfile_df['COMPANY_CODE'].isna().sum()

In [ ]:
country_currency_dict = {3142: 'TRY'}

In [ ]:
loadfile_df['CURRENCY'] = loadfile_df['COMPANY_CODE'].map(country_currency_dict)

In [ ]:
loadfile_df['CURRENCY'].isna().sum()

# OTHER COLUMNS

In [ ]:
condition = (loadfile_df['DOC_TYPE'] == 'MV')

loadfile_df['PRE_FINANCE_DATE'] = np.where(condition, merged_df['Value date'], '')

loadfile_df['GOODS_RECEIPT_NO']	= merged_df['WENUM']

loadfile_df['GOODS_RECEIPT_DATE'] = merged_df['WEDAT']

loadfile_df['INVOICE_ENTRY_DATE'] = merged_df['RGDAT'].where(merged_df['RGDAT'].notna(), merged_df['BLDAT'])

loadfile_df['INVOICE_STATUS'] = merged_df['INVOICE_STATUS']

loadfile_df['INVOICE_STATUS_INTERNAL'] = merged_df['ABGST']

loadfile_df['NET_DUE_DATE'] = merged_df['NET_DUE_DATE']

loadfile_df['DEBIT_NOTE_NO'] = merged_df['DEBNOTNO']

loadfile_df['REMITTANCE_ADVICE_NO'] = np.where(
    merged_df['INVOICE_STATUS'] == 'cleared-MIAG', 
    merged_df['Remittance advice number'], 
    '')

loadfile_df['CLEARING_DATE'] =  merged_df['Value date'].where(merged_df['Value date'].notna(), merged_df['AUGDT'])

loadfile_df['DOCUMENT_NO']	= merged_df['BELNR'].where(merged_df['BELNR'].notna(), merged_df['Document number'])

# store_no

In [ ]:
loadfile_df['STORE_NO'] =  merged_df['Store'].fillna(merged_df['store_or_dc'])

In [ ]:
loadfile_df['STORE_NO'].isna().sum()

# ARKTX

In [ ]:
loadfile_df['ARKTX'] =  merged_df['ARKTX']

# Remaining columns

In [ ]:
current_date = datetime.date.today()
formatted_current_date = current_date.strftime("%d.%m.%Y")
loadfile_df['MATCHING_DATE'] = formatted_current_date
loadfile_df['MATCH_STATUS'] = 'No Matching Requested'
loadfile_df['SYNC_DATE']	= formatted_current_date
loadfile_df['SYNC_STATUS'] = '1'
loadfile_df= loadfile_df.fillna('')

In [ ]:
loadfile_df['INVOICE_NO'].replace('nan', '', inplace=True)

In [ ]:
loadfile_df

In [ ]:

# loadfile_df['COMPANY_CODE'] = merged_df['BUKRS']

# # consider MIAG and if blank FI system/merged system

# loadfile_df['SUPPLIER_NO']	= merged_df['Supplier number (Sales Line)'].where(merged_df['Supplier number (Sales Line)'].notna(), merged_df['suppl_no'])

# loadfile_df['MIAG_SUPPLIER_NO'] = merged_df['Supplier number (MIAG)']

# loadfile_df['MIAG_SUPPLIER_NO'] = loadfile_df['MIAG_SUPPLIER_NO'].fillna(loadfile_df['SUPPLIER_NO'].map(doc_to_type))

# loadfile_df['ORDER_NO'] = merged_df['AUFNR']

# loadfile_df['DOC_TYPE'] = merged_df['Document type'].where(merged_df['Document type'].notna(), merged_df['Document_type'])

# #sftp/fi/ic
# loadfile_df['INVOICE_NO'] = merged_df['Invoice number'].where(merged_df['Invoice number'].notna(), merged_df['XBLNR'])

# loadfile_df['INVOICE_NO'] = merged_df['Invoice number'].where(merged_df['Invoice number'].notna(), merged_df['XBLNR'])
# loadfile_df['INVOICE_NO'] = merged_df['Invoice number'].where(merged_df['XBLNR'].notna(), merged_df['RENR'])

# #add renr

# loadfile_df['INVOICE_DATE']	= merged_df['REDAT']

# loadfile_df['DELIVERY_NOTE_NO'] = merged_df['LFSNR']

# #loadfile_df['TOTAL_AMT_DC'] = merged_df['GEBRF']

# loadfile_df['TOTAL_AMT_DC'] = merged_df['Gross amount'].where(merged_df['Gross amount'].notna(), merged_df['GEBRF'])

# loadfile_df['TOTAL_AMT_DC'] = merged_df['GEBRF'].where(merged_df['GEBRF'].notna(), merged_df['Amount_in_local_currency'])

# loadfile_df['TOTAL_VAT_DC']	= merged_df['GSMWF']

# loadfile_df['CURRENCY']	= merged_df['WAERS_x']

# condition = (loadfile_df['DOC_TYPE'] == 'MV')

# loadfile_df['PRE_FINANCE_DATE'] = np.where(condition, merged_df['Value date'], '')

# loadfile_df['GOODS_RECEIPT_NO']	= merged_df['WENUM']

# loadfile_df['GOODS_RECEIPT_DATE'] = merged_df['WEDAT']

# loadfile_df['INVOICE_ENTRY_DATE'] = merged_df['RGDAT'].where(merged_df['RGDAT'].notna(), merged_df['BLDAT'])

# loadfile_df['INVOICE_STATUS'] = merged_df['INVOICE_STATUS']

# loadfile_df['INVOICE_STATUS_INTERNAL'] = merged_df['ABGST'] 

# loadfile_df['NET_DUE_DATE'] = merged_df['NET_DUE_DATE']

# loadfile_df['DEBIT_NOTE_NO'] = merged_df['DEBNOTNO']

# loadfile_df['REMITTANCE_ADVICE_NO'] = np.where(
#     merged_df['INVOICE_STATUS'] == 'CLEARED', 
#     merged_df['Remittance advice number'], 
#     '')

# loadfile_df['CLEARING_DATE'] =  merged_df['Value date'].where(merged_df['Value date'].notna(), merged_df['AUGDT'])

# loadfile_df['DOCUMENT_NO']	= merged_df['BELNR'].where(merged_df['BELNR'].notna(), merged_df['Document number'])

# loadfile_df['STORE_NO'] =  merged_df['store_or_dc']

# loadfile_df['ARKTX'] =  merged_df['ARKTX_temp']

# current_date = datetime.date.today()
# formatted_current_date = current_date.strftime("%d.%m.%Y")
# loadfile_df['MATCHING_DATE'] = formatted_current_date
# loadfile_df['MATCH_STATUS'] = 'No Matching Requested'
# loadfile_df['SYNC_DATE']	= formatted_current_date
# loadfile_df['SYNC_STATUS'] = '1'
# loadfile_df= loadfile_df.fillna('')

In [ ]:
loadfile_df['DOCUMENT_NO'] = loadfile_df['DOCUMENT_NO'].replace('0000000000', '')

In [ ]:
loadfile_df

In [ ]:
current_datetime = datetime.datetime.now().strftime("%Y%m%d")
        
loadfile_df.to_csv(
            r"C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\load.360.35." + current_datetime + ".001_test_internal.csv", sep=',', index=False)

loadfile_df.to_csv(
            r"C:\Users\sappidi.reddy\Downloads\Sample MIAG 2\load.360.35." + current_datetime + ".001_internal.csv", sep=';', index=False)

In [ ]:
# Rough Work

In [ ]:
# import pandas as pd

# # Sample DataFrame creation (replace this with your actual DataFrame)
# data = {
#     'Doc no': [1, 1, 1, 2, 2, 2],
#     'Sup no': [100, 100, 100, 200, 200, 200],
#     'TDC': [10, 10, 10, 20, 25, 20],
#     'BUZEI': [1, 2, 3, 1, 1, 2],
#     'ZFBDT': [None, '2021-01-01', None, None, None, '2021-01-02']
# }
# df = pd.DataFrame(data)

# # Function to apply selection logic
# def select_record(group):
#     unique_tdc = group['TDC'].nunique()
    
#     if unique_tdc > 1:  # If TDC values are different
#         # Select record with maximum absolute value of TDC
#         return group.loc[group['TDC'].abs().idxmax()]
#     else:  # If TDC values are the same
#         # Check for ZFBDT presence
#         if group['ZFBDT'].notna().any():
#             return group.loc[group['ZFBDT'].notna()].iloc[0]  # Select first non-null ZFBDT
#         else:
#             return group.loc[group['BUZEI'] == 1].iloc[0]  # Select row where BUZEI = 1

# # Group by 'Doc no' and 'Sup no' and apply the selection function
# selected_records = df.groupby(['Doc no', 'Sup no']).apply(select_record)

# # Create a mask to filter the original DataFrame to keep only selected records
# mask = df.set_index(['Doc no', 'Sup no']).index.isin(selected_records.set_index(['Doc no', 'Sup no']).index)

# # Filter the original DataFrame
# final_result = df[mask].reset_index(drop=True)

# # Display the final result
# print(selected_records)

In [ ]:
# import pandas as pd

# # Sample DataFrame
# data = {
#     'Doc no': [1, 1, 1, 2, 2],
#     'sup no': [101, 101, 102, 201, 202],
#     'ZFBDT': ['2021-01-01', None, '2021-01-01', None, '2021-02-01'],
#     'ZBD1T': [10, None, 10, 20, None],
#     'ZBD2T': [None, 30, None, 40, 50],
#     'TDC': [100, -200, 300, 400, -300],
#     'BUZEI': [1, 2, 3, 1, 2]
# }

# df = pd.DataFrame(data)

# # Step 1: Group by 'Doc no' and 'sup no'
# grouped = df.groupby(['Doc no', 'sup no'], as_index=False)

# # Step 2: Populate values for ZFBDT, ZBD1T, ZBD2T
# def populate_values(group):
#     group['ZFBDT'] = group['ZFBDT'].fillna(method='ffill').fillna(method='bfill')
#     group['ZBD1T'] = group['ZBD1T'].fillna(method='ffill').fillna(method='bfill')
#     group['ZBD2T'] = group['ZBD2T'].fillna(method='ffill').fillna(method='bfill')
#     return group

# df_filled = grouped.apply(populate_values)

# # Step 3: Find the record with the highest absolute TDC, then lowest BUZEI in case of ties
# def select_record(group):
#     max_abs_tdc = group['TDC'].abs().max()
#     filtered = group[group['TDC'].abs() == max_abs_tdc]
#     return filtered.loc[filtered['BUZEI'].idxmin()]

# result_df = df_filled.groupby(['Doc no', 'sup no']).apply(select_record).reset_index(drop=True)

# print(result_df)

In [ ]:
cleared_df[cleared_df['Doc no. combined']=='3360023275']

In [ ]:
other_df[other_df['Doc no. combined']=='3360023275']

In [ ]:
merged_df[['BLDAT', 'RGDAT']]